<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @participant.survey_id %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @participant.answers %>
</p>

<%= link_to 'Edit', edit_survey_participant_path(@survey,@participant) %> |
<%= link_to 'Back', survey_participants_path(@survey) %>
